<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="notification-card">

    <h4>📅 New Production Schedule Assigned</h4>

    <p>
        Schedule <b>#<span th:text="${scheduleId}"></span></b>
        has been assigned to your production line.
    </p>

    <ul>
        <li>
            🧾 Order:
            <b>#<span th:text="${orderId}"></span></b>
        </li>

        <li>
            🏭 Production Line:
            <b th:text="${lineName}"></b>
        </li>

        <li>
            📦 Product:
            <b th:text="${product}"></b>
        </li>

        <li>
            🔢 Quantity:
            <b th:text="${quantity}"></b>
        </li>

        <li>
            ⏳ Start Time:
            <b th:text="${startTime}"></b>
        </li>

        <li>
            🏁 End Time:
            <b th:text="${endTime}"></b>
        </li>
    </ul>

</div>
</body>
</html>